* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border: 1px solid purple;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);

    border-radius: 4px;

}

.field {
    padding: 10px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    gap: 4px;
    color: purple;
    font: Arial, sans-serif;
}
h3 {
    text-align: center;
    color: purple;
    font: 30px Arial, sans-serif;
}
input {
    padding: 9px 12px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    border-color: purple;
    font: Arial, sans-serif;
}
input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

.btn {
    display: flex;
    justify-content: center;
}
button {
    font: Arial, sans-serif;
    padding: 10px 140px;
    font-size: 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

